main
    form
        inline-size: 40vw
        
        fieldset
            .field-control
                border: none
        
            div
                margin-block: 2vh
                margin-inline-start: 1vw
        
        input[type="text"], input[type="password"], input[type="email"]
            padding-block: 1vh
            margin-inline-start: 1vw
            padding-inline-start: 2vw

    
        .input-container
            padding: 1em
            inline-size: 14vw

        label
            .label-checkbox
                margin-start: 1em 
            