//  Form Awesome Style Sheet

main
    input[type="text"]
        padding-block: 1vh
        padding-inline-start: 2vw
        
    
    input[type="password"]
        padding-block: 1vh
        padding-inline-start: 2vw
    
    .input-container
        padding: 1em
        inline-size: 14vw
        