.justify-text-size {
  inline-size: 66vw;
  text-align: justify;
}

.margin-inline-11 {
  margin-inline: 11vw;
}

flex-row, .flex-row {
  display: flex;
  flex-direction: row;
}

flex-wrap-row, .flex-wrap-row, .flex-wrap-row-align-items-end, .flex-wrap-row-justify-center, .flex-wrap-row-justify-space-around, .flex-wrap-row-justify-space-between, .flex-wrap-row-justify-space-evenly {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

flex-wrap-reversed-row, .flex-wrap-reversed-row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
}

.flex-wrap-row-justify-space-evenly {
  justify-content: space-evenly;
}

.flex-wrap-row-justify-space-between {
  justify-content: space-between;
}

.flex-wrap-row-justify-space-around {
  justify-content: space-around;
}

.flex-wrap-row-justify-center {
  justify-content: center;
}

.flex-wrap-row-align-items-end {
  align-items: flex-end;
}

flex-column, .flex-column {
  display: flex;
  flex-direction: column;
}

flex-wrap-column, .flex-wrap-column, .flex-wrap-column-justify-space-between, .flex-wrap-column-align-items-center, .flex-wrap-column-align-content-center {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

flex-wrap-reversed-column, .flex-wrap-reversed-column {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
}

.flex-wrap-column-align-content-center {
  align-content: center;
}

.flex-wrap-column-align-items-center {
  align-items: center;
}

.flex-wrap-column-justify-space-between {
  justify-content: space-between;
}

.flex-justify-center {
  display: flex;
}

.flex-justify-center {
  justify-content: center;
}

header nav div.link-btn {
  padding: 0.6em;
}
header nav button:hover {
  opacity: 0.8;
}
header nav button:focus, header nav button:focus-visible {
  color: rgb(175, 238, 238);
  background-color: rgb(32, 32, 32);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  color-scheme: light dark;
  color: rgb(230, 230, 250);
  background-color: rgb(33, 33, 33);
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  margin: 0.3em;
  font-weight: 500;
  text-decoration: inherit;
  color: rgb(175, 238, 238);
}
a:hover {
  color: #535bf2;
  color: #747bff;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  margin: 0.2em;
  font-size: 1em;
  cursor: pointer;
  font-weight: 500;
  border-radius: 8px;
  font-family: inherit;
  padding: 0.6em 1.2em;
  color: rgb(244, 164, 96);
  background-color: rgb(33, 33, 33);
  transition: border-color 0.25s;
  border: 1px solid transparent;
}
button:hover {
  border-color: #646cff;
  background-color: rgba(51, 51, 51, 0.8);
}
button:focus, button:focus-visible {
  outline: 4px auto rgb(175, 238, 238);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: rgb(33, 33, 33);
  }
}/*# sourceMappingURL=index.css.map */