//  Color sheet

//  Primary colors

// Light mode
$bg-light : rgba(245, 245, 245, 1)
$font-light-dark : rgba(40, 40, 40, 1)

//  Dark mode
$bg-dark : $font-light-dark
$font-lavendel-dark : rgb(230, 230, 250)
$element-hover-dark : rgb(188, 184, 138)
$element-focus-dark : rgb(244, 164, 96)

$btn-color-dark : rgb(244, 164, 96)
$color-element-focus-dark : rgb(175, 238, 238)
