//  Header component design
    
header
    nav
        div.link-btn
            padding: .6em

        button
            &:hover
                opacity: 0.8

            &:focus, &:focus-visible
                color: $color-element-focus-dark
                background-color: $element-focus-dark

                