main
    nav
        button.btn-credential
                outline: none

                &:hover
                    border: none
                    border-bottom: .3em solid #535bf2

                &:focus
                    border: none
                    border-left: 0.3em solid #ffffff
                
                